body{
background:#1B2A32;
font-size:12px;
color:#E9ECEF !important;
}
.header{
padding: 10px;
background-color: #0E161b;
text-align: left;
width: 100%;
height: 60px;
}
/*
#inputForm{
margin : 40px 15px 0 15px;
background : hsl(198, 83%, 94%);
padding : 20px 5px;
}*/
.additional_detail{
margin : 40px 15px 0 15px;
background : hsl(198, 83%, 94%);
padding : 20px 5px;
width:100%;
}
.form-control{
font-size : 1.2rem;
}
#country>option{
max-height:100px;
}

.site_specifics{
    margin: 40px 20px 30px 20px;
    text-align:center;
}

#input_summary div[class^="col-"]{
    margin:15px;
    background : #5C3552;
    padding-top:10px;
    text-align:left;
}

.card{
box-shadow: 0 5px 15px rgba(57,98,254,.02), 0 4px 6px rgba(117,108,254,.12);
border:none;
}

.disable-card{
box-shadow: none;
}


.site_specifics .card{
    /*border-left: solid 4px #00567A;*/
    border-radius:0;
    background: #0E5675;
}

.site_specifics .card .card-body{
    padding-top:20px;
    padding-bottom:20px;
}

.site_details .card{
    /*border: solid 2px #00567A;
     background : white;*/
    border-top:none;
    border-radius:0;
    background : #17242B;
    box-shadow: 0 3px 0 0 #0e161b;
    border: 2px solid #0e161b;
}
.site_details .card .card-header{
    border-radius:0;
    background:#0e161b;
    color:#E9ECEF;
    padding:12px;
}

.table-hover>thead>tr>th{
    border-bottom:1px solid #485764;
    color:#E9ECEF;
}
.table-hover>tbody>tr>td{
    border-top: 1px solid #485764;
    color:#E9ECEF;
}
.table-dark{
    background-color: #0F171C
}
#site_cost_details_1 h4{
background: #00567A;
margin-bottom:10px;
}


#homeButton{
    float: right;
    margin-top:4px;
    border: solid 1px white;
    color: #4c4c4c;
    background: #fafafa;
    border-radius: 1px;
    letter-spacing: 1px;
    font-weight: 600;
    width: 140px;
    font-size : 17px;
    line-height:25px;
}
#homeButton:hover{
    background : rgba(255,255,255,.15);
    color : white;
}
.logo{
vertical-align:top;
padding: 3px 3px;
height: 40px;
width: 40px;
}
.textContainer {
display: inline;
line-height: 40px;
}
.logoText{
color: #fafafa;
font-size: 1.67rem;
font-weight: 400;
font-family: Metropolis,"Avenir Next","Helvetica Neue",Arial,sans-serif;
letter-spacing: .02em;
text-decoration: none;
}


.row_details{
margin-top:20px;
border: 1px solid black;
}
.detail_column{
border:1px solid black;
background-color : #394D5B;
color: white;
}
.detail_text{

margin-top: 15px;
text-align: center;
font-size: 14px;
margin-bottom: 1rem;
}

.card{
width:100%;
}

.action-btn{
background-color: #0072a3;
font-size:14px;
letter-spacing:1px;
font-weight:500;
color:#f8f8f8;
}

.action-btn:hover{
background-color: #00567A;
color:#fff;
}

.action-btn:focus{
color:#fff;
}

.line {
width:100%;
margin-top: 0px;
display:inline-block;
height: 0.25rem;
border: 0;
margin-bottom:15px;
background: -webkit-linear-gradient(left,rgba(14, 86, 117, 1),rgba(14, 86, 117, 0.2),rgba(14, 86, 117, 0));
}
#calculate_btn{
    margin : auto;
}
#loader {
  display : none;
  margin : auto;
  border: 6px solid #e8e8e8;
  border-radius: 50%;
  border-top: 6px solid #0072A3;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.collapsible {
    background-color: #17242B;
    color: #E9ECEF;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    font-weight: 700;
    /* outline: none; */
    font-size: 18.72px;
    padding: 18px;
}
 .active,.collapsible:hover {
  background-color: #0F171C ;
  color:#E9ECEF;
}
.collapsible:after {
  content: '\002B';
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.collapsible:focus{
    outline : none;
}
.active:after {
  content: "\2212";
  color:white;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #17242B;

}


#service_content{
  padding: 0 18px;
  background : #17242B;
  box-shadow: none;
  border: none;
}

.row_expand{
    box-shadow: 0 3px 0 0 #0e161b;
    border: 2px solid #0e161b;
}
.row_cost{
    background : #17242B;
    box-shadow: 0 3px 0 0 #0e161b;
    border: 1px solid #0e161b;
}
.business-units .card{
    background : #0E5675;
}
.header_text{
background:#5C3552;
color: #E9ECEF;
font-size: 16px;
}
.disable-card .header_text,.disable-card .card-body,.disable-card .detail_div{
background : #566572;
}

h2.category_text{
font-weight:bold;
}
.text_left{
float:left;
display:inline-block;
}
.text_right{
float:right;
display:inline-block;
}
.detail_div{
    background-color : #0E5675;
}
.detail_div:hover{
    background-color : #29414E;
}
.detail_div:focus{
    background-color : #29414E;
    box-shadow : none;
}


.fa{
    transform: scale(2,1.7);
    color: #fff;
}
.equal-sign{
    margin: auto 0;
    font-size: 23px;
    font-weight: 800;
}