<head>
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
</head>
{% extends "header.html" %}
{% block body %}
<div class="main-wrapper">
    <div class="select-type">
        <div class="title">
        <span class="net-auth-title">Network and Authentication Services</span><br>
        <span style="margin-top:20px">Site Cost Calculator</span>
        </div>

        <a href="{{url_for('new')}}" role="button" class="button new-site">New Site Buildout</a>
        <!--<a href="{{url_for('existing')}}" role="button" disabled class="button">Site Expansion/Refresh</a>-->
        <button class="button" disabled>Site Expansion/Refresh</button>

    </div>


</div>
{% endblock %}