{% extends "header.html" %} {% block body %}

<div class="container-fluid">

    <form action="fetch" id="inputForm">
        <div class="row" style="margin-left: 55px;">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-2 features_box">
                        <div class="form-group">
                            <label for="site_type">Site Type :</label>
                            <select class="form-control" id="site_type" name="site_type" required>
                                <option disabled hidden id="select" selected value="">Select Site Type...</option>
                                <option id="W&W" name="W&W" value="Wired & Wireless">Wired & Wireless</option>
                                <option id="Wireless" name="Wireless" value="Wireless">Wireless only</option>
                                <!--<option id="custom" name="Custom" value="Custom">Custom</option>-->
                            </select>
                        </div>
                    </div>
                    <!--<div class="col-md-2">-->
                    <!--<div class="form-group">-->
                    <!--<label for="BU">Business Unit :</label>-->
                    <!--<select class="form-control" id="BU" name="BU">-->
                    <!--<option value="" disabled selected>Select...</option>-->
                    <!--&lt;!&ndash;<option value="weekly">Weekly</option>&ndash;&gt;-->
                    <!--<option>HR & Sales</option>-->
                    <!--<option>HR, Sales & RnD</option>-->
                    <!--<option>HR, Sales & GSS</option>-->
                    <!--&lt;!&ndash;<option value="custom">Custom Date</option>&ndash;&gt;-->
                    <!--</select>-->
                    <!--</div>-->
                    <!--</div>-->
                    <div class="col-md-2 features_box">
                        <div class="form-group">
                            <label for="region">Region :</label>
                            <select class="form-control" id="region" name="region">
                                <option disabled hidden selected value="">Select Region...</option>
                                <!--<option value="weekly">Weekly</option>-->
                                <option>APAC</option>
                                <option>EMEA</option>
                                <option>NASA</option>
                                <!--<option value="custom">Custom Date</option>-->
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 features_box">
                        <div class="form-group">
                            <label for="country">Country :</label>
                            <select class="form-control" disabled id="country" name="country" required>
                                <option disabled hidden selected value="">Select Country...</option>
                                <!--{% for country in country_list %}-->
                                <!--<option>{{country}}</option>-->
                                <!--{% endfor %}-->
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 features_box">
                        <label for="headcount">Desk Count:</label>
                        <input class="form-control" id="headcount" name="headcount" placeholder="Enter Estimated Headcount"
                               required type="number">
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-2 features_box">
                        <label for="building_number">No. of buildings:</label>
                        <input class="form-control" id="building_number" name="building_number" placeholder="Enter No. of Building"
                               type="number">
                    </div>
                    <div class="col-md-2 features_box">
                        <div class="form-group">
                            <label for="floor_count">Floors per building:</label>
                            <input class="form-control" id="floor_count" name="floor_count" placeholder="Enter No. of Floor"
                                   style="width:105%;" type="number">
                        </div>
                    </div>
                    <div class="col-md-2 features_box" id="floor_radio">
                        <label class="radio">
                            <input type="radio" value="similar" disabled name="optradio">Similar Floors
                        </label>
                        <label class="radio">
                            <input type="radio" value="diverse" disabled name="optradio">Diverse Floors
                        </label>
                    </div>
                    <div class="col-md-2 features_box">
                        <div class="form-group">
                            <label for="floor_mdf">MDF</label>
                            <select class="form-control" disabled id="floor_mdf" name="floor_mdf">
                                <option disabled hidden selected value="">Select Floor...</option>
                            </select>
                        </div>
                    </div>
                </div>
                    <div id="floor_details">

                    </div>

            </div>
            <div class="col-md-2" style="text-align:center;align-self:center">
                <!--<p class="detail_text" >Site Details</p>-->
                <button class="btn btn-block action-btn" id="calculate_btn" type="submit">Calculate</button>
                <div id="loader"></div>
                <br>
                <input class="btn btn-block action-btn" id="bom_btn" type="button" value="Create BOM">
                <div id="loader_2"></div>

            </div>
        </div>
    </form>
</div>
<div class="container-fluid">
    <div class="row site_specifics justify-content-center">
        <div class="col-md-1" style="margin-left:-77px;">
            <div class="card" style="width:150%">
                <div class="card-body">
                    <h2 class="card-title" id="site_tier"></h2>
                    <h5 class="card-text">Tier</h5>
                </div>
            </div>
        </div>
        <div class="col-md-2" style="margin-left:54px;">
            <div class="card">
                <div class="row">
                    <div class="col" style="padding-right:0">
                        <div class="card-body" style="padding-right:0">
                            <h2 class="card-title" id="mpls_count"></h2>
                            <h5 class="card-text">MPLS</h5>
                        </div>
                    </div>
                    <div class="col" style="padding-left:0">
                        <div class="card-body" style="padding-left:0">
                            <h2 class="card-title" id="internet_count"></h2>
                            <h5 class="card-text">Internet</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h3>Costing Details</h3>
    <hr class="line">
    <div class="row_cost" style="background:#E3F5FC;">
        <div class="row site_specifics justify-content-center" id="site_cost_details">
            <div class="col-md-2" style="">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title" id="total_capex"></h2>
                        <h5 class="card-text">Network Investment</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title" id="annual_capex"></h2>
                        <h5 class="card-text">Annual CapEx</h5>
                    </div>
                </div>
            </div>
            <span class="glyphicon" style="margin: auto 0;">+</span>
            <div class="col-md-2">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title" id="total_opex"></h2>
                        <h5 class="card-text">Annual Maintenance</h5>
                    </div>
                </div>
            </div>
            <span class="glyphicon" style="margin: auto 0;">+</span>
            <div class="col-md-2">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title" id="circuit_arc"></h2>
                        <h5 class="card-text">Circuit ARC</h5>
                    </div>
                </div>
            </div>
            <i class="equal-sign">=</i>
            <div class="col-md-2">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title" id="site_cost"></h2>
                        <h5 class="card-text">Annual Runrate</h5>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br><br>
    <div class="row justify-content-center">
        <div class="col-md-2">
            <div class="card">
                <div class="card-header header_text">
                    Net-Auth Services
                </div>
                <div class="card-body" style="text-align:center">
                    <h2 class="card-title" id="total_net_auth">$</h2>
                    <div class="row">
                        <div class="col-6">
                            <h5 class="card-text" id="capex_net_auth">$$</h5>
                            <h5 class="card-text">CapEx</h5>
                        </div>
                        <div class="col-6">
                            <h5 class="card-text" id="opex_net_auth">$$</h5>
                            <h5 class="card-text">OpEx</h5>
                        </div>
                    </div>
                </div>
                <button class="card-footer btn detail_div" id="net_auth">
                    <!--<span class="glyphicon glyphicon-chevron-down"></span>-->
                    <span class="fa fa-angle-double-down"></span>
                </button>

            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <div class="card-header header_text">
                    AV Services
                </div>
                <div class="card-body" style="text-align:center">
                    <h2 class="card-title" id="total_av_services">$</h2>
                    <div class="row">
                        <div class="col-6">
                            <h5 class="card-text" id="capex_av_services">$$</h5>
                            <h5 class="card-text">CapEx</h5>
                        </div>
                        <div class="col-6">
                            <h5 class="card-text" id="opex_av_services">$$</h5>
                            <h5 class="card-text">OpEx</h5>
                        </div>
                    </div>
                </div>
                <button class="card-footer btn detail_div" id="av_services">
                    <span class="fa fa-angle-double-down"></span>
                </button>

            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <div class="card-header header_text">
                    Security Services
                </div>
                <div class="card-body" style="text-align:center">
                    <h2 class="card-title" id="total_security">$</h2>
                    <div class="row">
                        <div class="col-6">
                            <h5 class="card-text" id="capex_security">$$</h5>
                            <h5 class="card-text">CapEx</h5>
                        </div>
                        <div class="col-6">
                            <h5 class="card-text" id="opex_security">$$</h5>
                            <h5 class="card-text">OpEx</h5>
                        </div>
                    </div>
                </div>
                <button class="card-footer btn detail_div" id="security">
                    <span class="fa fa-angle-double-down"></span>
                </button>

            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <div class="card-header header_text">
                    UCC
                </div>
                <div class="card-body" style="text-align:center">
                    <h2 class="card-title">$</h2>
                    <div class="row">
                        <div class="col-6">
                            <h5 class="card-text" >$$</h5>
                            <h5 class="card-text">CapEx</h5>
                        </div>
                        <div class="col-6">
                            <h5 class="card-text">$$</h5>
                            <h5 class="card-text">OpEx</h5>
                        </div>
                    </div>
                </div>
                <button class="card-footer btn detail_div" id="ucc">
                    <span class="fa fa-angle-double-down"></span>
                </button>

            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <div class="card-header header_text">
                    Infra Services
                </div>
                <div class="card-body" style="text-align:center">
                    <h2 class="card-title">$</h2>
                    <div class="row">
                        <div class="col-6">
                            <h5 class="card-text">$$</h5>
                            <h5 class="card-text">CapEx</h5>
                        </div>
                        <div class="col-6">
                            <h5 class="card-text">$$</h5>
                            <h5 class="card-text">OpEx</h5>
                        </div>
                    </div>
                </div>
                <button class="card-footer btn detail_div" id="infra">
                    <span class="fa fa-angle-double-down"></span>
                </button>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <div class="card-header header_text">
                    DC-Ops
                </div>
                <div class="card-body" style="text-align:center">
                    <h2 class="card-title">$</h2>
                    <div class="row">
                        <div class="col-6">
                            <h5 class="card-text">$$</h5>
                            <h5 class="card-text">CapEx</h5>
                        </div>
                        <div class="col-6">
                            <h5 class="card-text">$$</h5>
                            <h5 class="card-text">OpEx</h5>
                        </div>
                    </div>
                </div>
                <button class="card-footer btn detail_div" id="dc_ops">
                    <span class="fa fa-angle-double-down"></span>
                </button>
            </div>
        </div>

    </div>
    <br>
    <div id="service_content">
        {% for service_cat in service_category_list%}
            {% if service_cat == 'Net-Auth Services'%}
                {% set service_category = 'net_auth' %}
            {% elif service_cat == 'Security Services'%}
                {% set service_category = 'security' %}
            {% elif service_cat == 'DC-Ops' %}
                {% set service_category = 'dc_ops'%}
            {% elif service_cat == 'Infra Services' %}
                {% set service_category = 'infra'%}
            {% else %}
                {% set service_category = service_cat%}
            {% endif %}
            <div class="row site_details" id="category_{{service_category}}" style="display:none">
                <div class="col-md-12 row" style="margin-top:10px;">
                    <div class="col-4">
                        <h2 class="category_text">{{service_cat}}</h2>
                    </div>
                    <div class="col-2 offset-6" style="text-align:right;padding-right:0;margin-right:0">
                        <button class="btn btn-default action-btn customize-btn" id="customize_btn">Customize</button>
                        <span><button type="button" id="close_btn" class="btn btn-default close-btn" style="border: 1px solid grey;padding:6px 10px;">
                            <i class="glyphicon glyphicon-remove" style="font-size:12px;color:orangered"></i>
                        </button></span>
                        <button class="btn btn-default action-btn save-btn" id="save_btn" style="display:none;">Save & Close</button>
                    </div>

                </div>

            {%for service_val in device_category[service_cat]%}
                {% if service_val == 'Network Services'%}
                    {% set service = 'Network_Services' %}
                {% elif service_val == 'Module(Line Card)' %}
                    {% set service = 'module' %}
                {% else %}
                    {% set service = service_val %}
                {% endif %}
            <div class="col-md-12" id="div_{{service}}" style="margin-bottom:20px; margin-top:20px">
                <div class="card">
                    <div class="card-header" style="background:#00567A;color:#fff">
                        <h5 class="service_name" style="display:inline;">{{service_val}} Details</h5>
                        <h5 id="sum_{{service}}" style="display:inline;float:right;font-size:16px;"></h5>
                    </div>
                    <div class="card-body">
                        <table id="table_{{service}}" class="table table-hover" style="height:40%;width:100%;">
                            <thead class="thead-light" align="centre">
                            <tr>
                                <th align="centre">Device Type</th>
                                <th>Device Model</th>
                                <th>Qty.</th>
                                <th>CAPEX</th>
                                <th>Discount</th>
                                <th>OPEX</th>
                                <th>Discount</th>
                            </tr>
                            </thead>
                            <tbody>
                            {%for device_type in device_type[service_val]%}
                            <tr id="{{service}}_{{loop.index}}">
                                <td style="width: 250px;" class="select_device_type">{{device_type}}</td>
                                <td class="select_device_model" style="width: 300px;">
                                    <select id="type_{{service}}_{{loop.index}}" disabled class="form-control service-select">
                                        <option selected hidden>. . .</option>
                                        {%for device_model in device_model[device_type]%}
                                        <option value="{{device_model}}">{{device_model}}</option>
                                        {% endfor%}
                                    </select></td>

                                <td class="select_type_qty">
                                    <select id="type_qty_{{service}}_{{loop.index}}" disabled class="form-control qty-select" style="width: 50px;">
                                        <option selected hidden>. . .</option>
                                        {% for i in range(1, 51) %}
                                        {% if i == 1 %}
                                        <option value="{{i}}" selected>{{i}}</option>
                                        {% else %}
                                        <option value="{{i}}">{{i}}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </td>

                                <td class="capex" id="capex_{{service}}_{{loop.index}}"></td>
                                <td></td>
                                <td class="opex" id="opex_{{service}}_{{loop.index}}"></td>
                                <td></td>
                            </tr>
                            {% endfor%}
                            </tbody>

                        </table>
                    </div>

                </div>
            </div>

            {% endfor %}


        </div>
        {% endfor %}
    </div>
</div>
<div class="container-fluid">
    <br><br>
    <div class="row_expand">
        <button class="collapsible">Circuit Details</button>
        <div class="content">
            <div class="row">
                <div class="col-md-9">
                    <div class="card">
                        <table class="table" id="circuit_details" style="text-align:center;">
                            <thead>
                            <th colspan="2" style="background:#ededed"></th>
                            <th colspan="3" style="background:#DFF0D0">Average</th>
                            <th colspan="3" style="background:#FFF4C7">Maximum</th>
                            </thead>
                            <thead>
                            <th>Service</th>
                            <th>Capacity(Mbps)</th>
                            <th>Price Per Meg</th>
                            <th>MRC Per Circuit</th>
                            <th>Total MRC</th>
                            <th>Price Per Meg</th>
                            <th>MRC Per Circuit</th>
                            <th>Total MRC</th>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br><br><br><br><br>

</div>
<script>
$("#floor_count").on("input", function(){
    var floor_count = $(this).val()

    $('#floor_mdf').find('option').remove().end();
    $('#floor_mdf').append("<option disabled selected hidden>Select Floor...</option>");
    for(var i = 1;i<=floor_count;i++){
    $('#floor_mdf').append("<option value=floor_"+i+">Floor " + i + "</option>");
    }

    $('#floor_details').children().slideUp(function() {
    $('#floor_details').empty();
    });

    $("input[type=radio][name=optradio]").attr("checked", false);
    if(floor_count <= 0 || floor_count == ""){
        $('input[type=radio][name=optradio]').attr("disabled", true);
        $('#floor_mdf').attr('disabled',true);
    }
    else if(floor_count == 1){
        $('input[type=radio][name=optradio]').attr("disabled", true);
        append_floors(1,'single');
        $('#floor_mdf').attr('disabled',false);
        $('#floor_mdf').val('floor_1');
        $('#floor_1 input[type=number][name=idf_num]').val(0);
        $('#floor_1 input[type=number][name=idf_num]').attr("disabled", true);
    }
    else if(floor_count>1){
        $('input[type=radio][name=optradio]').attr("disabled", false);
        $('input[type=radio][name=optradio]').change(function(){
            $("#floor_details").empty();
            $('#floor_mdf').prop('selectedIndex',0);
            var floor_radio_val = $(this).val();
            if(floor_radio_val == "similar"){
                append_floors(1,'similar');
                $('#floor_mdf').attr('disabled',false);
            }
            else{
                append_floors(floor_count,'diverse');
                $('#floor_mdf').attr('disabled',false);
            }
        });

    }
});
$('#floor_mdf').on('change',function(){
    $('input[type=number][name=idf_num]').attr("disabled", false);
    $('input[type=number][name=idf_num]').val(1);
    var mdf_floor = $(this).val();
    if($('input[type=radio][name=optradio]:checked').val() == 'diverse'){
        $('#'+mdf_floor+' input[type=number][name=idf_num]').val(0);
        $('#'+mdf_floor+' input[type=number][name=idf_num]').attr("disabled", true);
    }
});

function append_floors(floor_count,type){
    var parent = $("#floor_details");
    var x,y;

    for(var i = 1;i<=floor_count;i++){
    if(type == 'similar'){
        x="Each ";y="";
    }
    else{
        x="";y=i;
    }
          $(`<div class="row" id = "floor_`+i+`">
                <h4 style="margin: 8px 4px 0px 16px;">`+x+`Floor `+y+` :</h4>
                <div class="col-md-2 features_box">
                    <div class="form-group">
                        <label for="desk_floor">Desk Count:</label>
                        <input class="form-control" id="desk_floor" name="desk_floor" placeholder="Desks/floor"
                               style="width:105%;" type="number">

                    </div>
                </div>

                <div class="col-md-2 features_box" style="flex: 0 0 18.6%;max-width: 18.6%;">
                    <div class="form-group">
                        <label for="meeting_rooms">Meeting/Zoom Rooms:</label>
                        <input class="form-control" id="meeting_rooms" name="meeting_rooms" placeholder="No. of rooms"
                               style="width:105%;" type="number">

                    </div>
                </div>

                <div class="col-md-2 features_box">
                    <div class="form-group">
                    <label for="conf_rooms">Conference Rooms:</label>
                    <input class="form-control" id="conf_rooms" name="conf_rooms" placeholder="No. of rooms"
                           style="width:105%;" type="number">

                    </div>
                </div>
                <div class="col-md-2 features_box">
                        <div class="form-group">
                            <label for="idf_num">IDF's:</label>
                            <input class="form-control" id="idf_num" name="idf_num" placeholder="No. of IDF's"
                           style="width:105%;" type="number">

                        </div>
                </div>
          </div>`).hide().appendTo(parent).slideDown(500);
    }
}


$('#bom_btn').click(function() {

    dict_nest = []
    $("tr").each(function(i,v){
    var device_type = $(this).find(".select_device_type").text();
    console.log(device_type);
    var device_model = $(this).find("td:eq(1)");
    var device_model = device_model.find("select"); //grab the <select> tag assuming that there will be only single select box within that <td>
    var device_model = device_model.val();

    var device_qty =$(this).find("td:eq(2)");
    var device_qty = device_qty.find("select"); //grab the <select> tag assuming that there will be only single select box within that <td>
    var device_qty = device_qty.val();
    dict_nest.push({'device_type' : device_type,'device_model' : device_model,'device_qty' : device_qty});

    });
    $.ajax({
        type: "POST",
        url: "bom.html",
        data : JSON.stringify(dict_nest),
        beforeSend: function()
        {
            $('#loader_2').show();
            $('#bom_btn').hide();
        },
        success: function(data)
        {
            pageRedirect();
            console.log(data);
        },
        complete: function()
        {
            $('#loader_2').hide();
            $('#bom_btn').show();
        }
    });
});
function pageRedirect() {
      window.location.href = "http://127.0.0.1:5000/bom_html";
    }
var formatter = new Intl.NumberFormat('en-US', {
  style: 'currency',
  currency: 'USD',
  minimumFractionDigits: 0,
  maximumFractionDigits: 0
});

var formatter1 = new Intl.NumberFormat('en-US', {
  style: 'currency',
  currency: 'USD',
  minimumFractionDigits: 2
});

var countryJSON = {{country_list | safe}}
$('#region').on("change",function(){

    $('#country').find('option').remove().end();
    var region = this.value;
    var countries = countryJSON.filter(function(item){
        return item.region == region;
    });
    $('#country').prop('disabled',false);
    $('#country').append("<option disabled selected hidden>Select...</option>");
    countries.forEach(item => {
    $('#country').append("<option>" + item.country + "</option>");
    });
});
$(".select_type_qty select").on("change", function() {

     var qty_value = this.value;
     var $cell = $(this).parent();
     var $row = $cell.parent();
     var row_id = $row.attr("id");
     var rw_id = "#" + row_id;
     var capex_value = $(rw_id).find("td").eq(3).html();
     var capex_value =parseFloat(capex_value.replace(/[^\d.]/g, ''));

     var opex_value = $(rw_id).find("td").eq(5).html();
     var opex_value =parseFloat(opex_value.replace(/[^\d.]/g, ''));

     capex_qty = capex_value * qty_value;
     opex_qty = opex_value * qty_value;
     $('#' + row_id + ' .capex').html(formatter1.format(capex_qty));
     $('#' + row_id + ' .opex').html(formatter1.format(opex_qty));
     calculate();

});

$(".select_device_type select").on("change", function() {
    var value = this.value;
    var $cell = $(this).parent();
    var $row = $cell.parent();
    var row_id = $row.attr("id");

    var price_list =  {{model_price|safe}};
    var capex_data = price_list.filter( item => item.DeviceModel == value);
    $('#' + row_id + ' .capex').html(formatter1.format(capex_data[0].CAPEX));
    $('#' + row_id + ' .opex').html(formatter1.format(capex_data[0].OPEX));

    calculate();
});

function calculate(){
    var service_array = {{service_list|safe}};
    var device_type = {{device_type | safe}};
    var service_type= {{device_category|safe}};
    var category_array = {{service_category_list|safe}}

    var sum_capex = 0 ;
    var sum_opex = 0 ;
    for (k=0 ; k< category_array.length; k++)
        {
        var category_capex = 0 ;
        var category_opex = 0 ;
        console.log(category_array[k]);
        if(category_array[k] == 'Net-Auth Services'){
                id_cat = 'net_auth';
            }else if(category_array[k] == 'DC-Ops'){
                id_cat = 'dc_ops';
            }else if(category_array[k] == 'Security Services'){
                id_cat = 'security';
            }else{
                id_cat = category_array[k];
        }

        service_type_array = service_type[category_array[k]];
        for (i=0 ; i< service_type_array.length; i++)
            {
            if(service_type_array[i] == 'Network Services'){
                id_service = 'Network_Services';
            }else if(service_type_array[i] == 'Module(Line Card)'){
                id_service = 'module';
            }else{
                id_service = service_type_array[i];
            }

            var sum_service = 0;
            var capex_service=0;
            var opex_service=0;
            type_array = device_type[service_type_array[i]];
            for(j=1; j<= type_array.length;j++)
            {
                var cid = "#capex_"+ id_service+"_"+j;
                var oid = "#opex_"+ id_service +"_"+j;

                var capex_value = $(cid).html();
                var opex_value = $(oid).html();

                if(capex_value == undefined){
                    var capex_value = 0;
                }else{
                    var capex_value =parseFloat(capex_value.replace(/[^\d.]/g, ''));
                }
                if(opex_value == undefined){
                    var opex_value = 0;
                }else{
                    var opex_value =parseFloat(opex_value.replace(/[^\d.]/g, ''));
                }
                if(!isNaN(capex_value)){
                   capex_service += capex_value;
                   category_capex += capex_value;
                   sum_capex += capex_value;
                }
                if(!isNaN(opex_value)){
                   opex_service += opex_value;
                   category_opex += opex_value;
                   sum_opex += opex_value;

                }
            }
            total_category =category_capex + category_opex;
            sum_service = capex_service + opex_service;
            $('#sum_' + id_service).html(formatter.format(sum_service));
            id_total = "#total_" + id_cat;
            id_capex = "#capex_" + id_cat;
            id_opex = "#opex_" + id_cat;
            $(id_total).html(formatter.format(total_category));
            $(id_capex).html(formatter.format(category_capex));
            $(id_opex).html(formatter.format(category_opex));
        }
    }
    site_cost = (sum_capex/6) + sum_opex + circuit_arc;
    console.log(circuit_arc,'==================');
    $('#total_capex').html(formatter.format(sum_capex));
    $('#annual_capex').html(formatter.format(sum_capex/6));
    $('#total_opex').html(formatter.format(sum_opex));
    $('#site_cost').html(formatter.format(site_cost));
    var headcount = parseInt($('#headcount').val());
    $('#cost_per_head').html(formatter.format(site_cost/headcount));
    var desks = parseInt($('#desk').val());
    $('#cost_per_desk').html(formatter.format(site_cost/desks));
    var ports = desks * parseInt($("#site_port_count").html());

    if (ports == 0){
        $('#cost_per_port').html("NA")
    }else{
        $('#cost_per_port').html(formatter.format(site_cost/ports))
    }

}
function gss_data(){
    var site_type = $("#site_type :selected").text();
    var gss = $("#gss :selected").text();
    console.log(gss);
    if( site_type == 'Wired & Wireless' && gss == "Yes"){
        $("#site_port_count").html('2');
    } else if (site_type == 'Wired & Wireless' && gss == "No"){
        $("#site_port_count").html('1');
    }else if (site_type == 'Wireless only' && gss == "No"){
        $("#site_port_count").html('0');
    }
}

var circuit_arc;
$(document).ready(function () {
    var service_array = {{service_list|safe}};
    $('#inputForm').on('submit', function(e) {
        e.preventDefault();
        $.ajax({
            url : $(this).attr('action') || window.location.pathname,
            type: "GET",
            data: $(this).serialize(),
            beforeSend: function(){
                $("#calculate_btn").hide();
                $("#loader").show();
            },
            success: function (data) {
                $("#site_tier").html(data[1].tier);
                $("#mpls_count").html(data[1].mpls_count);
                $("#internet_count").html(data[1].internet_count);


                $("#circuit_details tbody > tr").remove();
                 var mpls_tr = '<tr id="mpls_row"><th>MPLS</th><td>' + data[1].mpls_bw + '</td><td>' +
                            formatter1.format(data[2].mpls_avg) + '</td><td>'+
                            formatter1.format(data[2].mpls_cost_avg) + '</td><td>'+
                            formatter1.format(data[2].mpls_cost_avg * data[1].mpls_count) + '</td><td>'+
                            formatter1.format(data[2].mpls_max) + '</td><td>'+
                            formatter1.format(data[2].mpls_cost_max) + '</td><td>'+
                            formatter1.format(data[2].mpls_cost_max * data[1].mpls_count) + '</td></tr>';


                 var int_tr = '<tr id="int_row"><th>Internet</th><td>' + data[1].mpls_bw + '</td><td>' +
                            formatter1.format(data[2].int_avg) + '</td><td>'+
                            formatter1.format(data[2].int_cost_avg) + '</td><td>'+
                            formatter1.format(data[2].int_cost_avg * data[1].internet_count) + '</td><td>'+
                            formatter1.format(data[2].int_max) + '</td><td>'+
                            formatter1.format(data[2].int_cost_max) + '</td><td>'+
                            formatter1.format(data[2].int_cost_max * data[1].internet_count) + '</td></tr>';

                 $('#circuit_details tbody').append(mpls_tr);
                 $('#circuit_details tbody').append(int_tr);
                 circuit_arc = 12*(data[2].int_cost_avg * data[1].internet_count + data[2].mpls_cost_avg * data[1].mpls_count);
                 var circuit_max = 12*(data[2].int_cost_max * data[1].internet_count + data[2].mpls_cost_max * data[1].mpls_count);

                 $('#circuit_arc').html(formatter.format(circuit_arc));
                 $('#circuit_max').html(formatter.format(circuit_max));

                var rspns = JSON.parse(data[0]);


                for (i=0 ; i< service_array.length; i++)
                {
                    if(service_array[i] == 'Network Services'){
                        id_service = 'Network_Services';
                    }else if(service_array[i] == 'Module(Line Card)'){
                        id_service = 'module';
                    }else{
                        id_service = service_array[i];
                    }
                    var idx = 1;
                    var idcpx = 1;
                    var idopx = 1;
                    var idqty = 1;
                    $.each(rspns, function(x, item) {

                        if (item.ServiceType == service_array[i]){


                            var id = "#type_" + id_service +  "_" + idx++;
                            var id_capex = "#capex_" + id_service +  "_" + idcpx++;
                            var id_opex = "#opex_" + id_service +  "_" + idopx++;
                            var qid = "type_qty_" + id_service + "_" + idqty++;

                            var qty_value = document.getElementById(qid).selectedOptions[0].value;

                            console.log(qty_value);

                            $(id).val(item.DeviceModel);

                            if(item.CAPEX == null){
                                $(id_capex).html(parseInt(item.CAPEX));
                            }else{
                                capex_qty = item.CAPEX * qty_value;
                                $(id_capex).html(formatter1.format(capex_qty));
                            }
                            if(item.OPEX== null){
                                $(id_opex).html(parseInt(item.OPEX));
                            }else{
                                opex_qty = item.OPEX * qty_value;
                                $(id_opex).html(formatter1.format(opex_qty));
                            }
                         }

                    });
                }
                calculate();
            },
            complete:function(data){
                $("#loader").hide();
                $("#calculate_btn").show();

            },
            error: function (jXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    });
});


</script>
<script>
var collapse = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < collapse.length; i++) {
  collapse[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}

var coll = document.getElementsByClassName("detail_div");
var content = document.getElementById("service_content");
var i;
var service_category = {{service_category_list|safe}};
console.log(service_category);
$(".detail_div").click(function() {
    var btn_clicked = this.id;
    console.log(btn_clicked);
    for (i=0 ; i< service_category.length; i++)
    {
    if(service_category[i] == 'Net-Auth Services'){
        id_category = 'net_auth';
    }else if(service_category[i] == 'Security Services'){
        id_category = 'security';
    }else if(service_category[i] == 'DC-Ops'){
        id_category = 'dc_ops';
    }else if(service_category[i] == 'Infra Services'){
        id_category = 'infra';
    }else{
        id_category = service_category[i];
    }
    if(id_category == btn_clicked){
        id = "#category_" + id_category;
        if(id_category == 'net_auth'){
            $(id).slideDown(1500);}
        else{$(id).slideDown(500);}
    }else{
        id = "#category_" + id_category;
        $(id).hide();
    }
    }
});

$('.close-btn').click(function(){
    $('.site_details').slideUp(400);
});

$('.customize-btn').click(function(){
    $('.service-select').prop("disabled", false);
    $('.qty-select').prop("disabled", false);
    $('.customize-btn').hide();
    $('.close-btn').hide();
    $('.save-btn').show();
});

$('.save-btn').click(function(){
    $('.site_details').slideUp(400);
    $('.service-select').prop("disabled", true);
    $('.qty-select').prop("disabled", true);
    $('.customize-btn').show();
    $('.close-btn').show();
    $('.save-btn').hide();
});

</script>
{% endblock %}
